body {
  font-family: "Poppins", sans-serif;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 306px;
  padding-bottom: 76px;
}
.menu-logo {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 65px;
}
.menu-logo__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
.menu-logo__title::after {
  content: "v.01";
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #838383;
  margin-left: 4px;
}
.menu-logo__img {
  margin-left: 28px;
  margin-right: 8px;
}
.menu__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 597px;
}
.menu__link--first {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #9197b3;
  margin-left: 14px;
}
.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #9197b3;
  margin-left: 14px;
  display: flex;
  align-items: center;
}
.menu__link--three {
  color: #ffffff;
}
.menu__item {
  display: flex;
  align-items: center;
  margin-top: 42px;
  margin-left: 39px;
}
.menu__item--three {
  background: #5932ea;
  border-radius: 8px;
  margin-top: 31px;
  margin-left: 28px;
  padding-top: 11px;
  padding-left: 11px;
  padding-bottom: 11px;
  width: 250px;
}
.menu__link--two::after {
  content: "";
  background-image: url(./img/vector.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 123px;
}
.menu__link--three::after {
  content: "";
  background-image: url(./img/vector-white.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 100px;
}
.menu__link--four::after {
  content: "";
  background-image: url(./img/vector.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 124px;
}
.menu__link--five::after {
  content: "";
  background-image: url(./img/vector.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 117px;
}
.menu__link--six::after {
  content: "";
  background-image: url(./img/vector.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 145px;
}
.menu-footer__text--name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
.menu-footer__text--special {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
  margin: 0;
}
.menu-footer {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-left: 28px;
  padding-top: 42px;
}

/* ============================
=============================
 */
.main {
  display: flex;
}
.section-customers {
  padding-top: 41px;
  padding-bottom: 258px;
  padding-right: 95px;
  padding-left: 71px;
  background-color: #fafbff;
}
.block-customers__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 51px;
}
.block-customers__header--title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  margin-top: 0;
  margin-bottom: 7px;
  color: #000000;
}
.block-customers__header--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #16c098;
  margin: 0;
}
.block-customers__header {
  margin-left: 38px;
}
.block-customers {
  width: 968px;
  padding-top: 30px;
  padding-bottom: 40px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
}
.block-customers__header--input {
  background: #f9fbff;
  border-radius: 10px;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 134px;
  padding-left: 11px;
  margin-right: 53px;
}
.block-customers__header--input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}
.block-customers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-customers {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 40px;
  padding-left: 38px;
  padding-right: 44px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eeeeee;
}
.list-customers__item--name {
  width: 118px;
  margin-right: 54px;
}
.list-customers__item--company {
  width: 70px;
  margin-right: 61px;
}
.list-customers__item--number {
  width: 109px;
  margin-right: 47px;
}
.list-customers__item--mail {
  width: 169px;
  margin-right: 38px;
}
.list-customers__item--country {
  width: 94px;
  margin-right: 46px;
}
.list-customers__item--status {
  text-align: center;
  width: 80px;
}
.list-customers__item-first--text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
  margin-top: 0;
  margin-bottom: 0;
}
.list-customers__item--first {
  display: flex;
}
.block-customers__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  padding-left: 38px;
  padding-right: 44px;
}
.list-customers__item--text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #292d32;
  margin-top: 0;
  margin-bottom: 0;
}
.list-customers__item {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeeee;
}
.list-customers__item--status--active {
  color: #008767;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.list-customers__item--status--inactive {
  color: #df0404;
  background: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.block-customers__footer {
  margin-left: 38px;
  margin-top: 32px;
  margin-right: 40px;
}
.block-customers__footer--text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}
.block-customers__footer-subtext {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}
.block-customers__footer-click {
  display: flex;
  column-gap: 12px;
}
.block-customers__footer {
  display: flex;
  justify-content: space-between;
}
